
<app-header titulo="Registro"></app-header>

<ion-content>

  <form #formulario="ngForm" (ngSubmit)="onSubmitTemplate()">

    <ion-list>

      <ion-list-header>
        <ion-label>Registro de nuevo usuario</ion-label>
        
      </ion-list-header>

      <ion-item>
        <ion-label position="floating">Ingrese su email</ion-label>
        <ion-input type="email" placeholder="Ingrese email" name="email" [(ngModel)]="usuario.email"
          pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$" required>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Ingrese su password</ion-label>
        <ion-input type="password" minlength="6" placeholder="Ingrese password" name="password" [(ngModel)]="usuario.pass"
          required>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Confirme su password</ion-label>
        <ion-input type="password" min="6" placeholder="Confirme password" name="password" [(ngModel)]="confirmacionPass"
          required>
        </ion-input>
      </ion-item>

    </ion-list>

    <ion-button fill="solid" expand="full" type="submit" [disabled]="formulario.invalid">
      Alta
    </ion-button>

  </form>

</ion-content>
