<app-header titulo="Nuevo partido"></app-header>

<ion-content class="fondo">
  <div id="container" >
    <form #formulario="ngForm" (ngSubmit)="onSubmitTemplate()"  >

      <ion-list lines="none" class="contenido">

        <ion-item >
          <ion-label color="primary" mode="ios" position="fixed">Fecha : </ion-label>
          <ion-datetime color="primary" mode="ios" display-format="YYYY MMMM DD" [min]="fechaActual" 
                        name="fecha" [ngModel]="fechaActual" (ionChange)="cambioFecha($event)">
          </ion-datetime>
        </ion-item>

        <ion-item  >

          <ion-button mode="ios" expand="full" fill="clear" (click)="elegirEquipo($event, 'equipoA')">
            <ion-icon size="large" name="football" slot="end"></ion-icon>
            <h4><ion-label  mode="ios">Elegir equipo A</ion-label></h4>
          </ion-button>

        </ion-item>
        <ion-item >

          <ion-button mode="ios" expand="full" fill="clear" 
                      (click)="elegirEquipo($event, 'equipoB')">
            <ion-icon size="large" name="football" slot="end"></ion-icon>
            <h4><ion-label  mode="ios">Elegir equipo B</ion-label></h4>
          </ion-button>

        </ion-item>

      </ion-list>

      <ion-button mode="ios" color="tertiary" fill="solid" expand="full" 
                  type="submit" [disabled]="formulario.invalid">
        Armar partido
      </ion-button>

    </form>
  </div>
</ion-content>