<app-header titulo="Iniciar sesión"></app-header>

<ion-content class="fondo">
  <div id="container">
    <form #formulario="ngForm" (ngSubmit)="onSubmitTemplate()">

      <ion-list class="contenido">

        <ion-header color="dark">
          <ion-toolbar color="dark">
            <ion-title color="primary" size="large">Entrar</ion-title>
          </ion-toolbar>
        </ion-header>

        <ion-item color="dark">
          <ion-label mode="ios" position="floating">Correo electrónico</ion-label>
          <ion-input mode="ios" color="primary" clearOnEdit="true" type="email" 
                    name="email" [(ngModel)]="usuario.email" required>
          </ion-input>
        </ion-item>

        <ion-item color="dark">
          <ion-label mode="ios" position="floating">Contraseña</ion-label>
          <ion-input mode="ios" color="primary" clearOnEdit="true" type="password"
                     name="pass" [(ngModel)]="usuario.pass" required>
          </ion-input>
        </ion-item>

      </ion-list>
      <ion-button mode="ios"  color="tertiary" fill="solid" expand="full"
                 type="submit" [disabled]="formulario.invalid">
        Entrar
      </ion-button>


    </form>
  </div>
</ion-content>