/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.max-img
{
    justify-content: center !important;
    max-height: fit-content !important;
    max-width: fit-content !important;
    background-color: transparent !important;
    opacity: 90% !important;
    padding-bottom: -50px !important;
}

.area-mensajes
{
    max-height: max-content !important;
    overflow-y: scroll !important;
}

.mensaje-propio
{
    ion-textarea{
        padding: 5px !important;
        line-height: 1;
        border-radius: 20px !important;
        border: 1px solid purple !important;
        width: max-content !important;
        margin-left: auto !important;   
        background-color: whitesmoke !important; 
    }
}

.mensaje-ajeno
{

    ion-textarea{
        padding: 5px !important;
        line-height: 1 ;
        border-radius: 20px !important;
        border: 1px solid purple !important;
        width: max-content !important;
        margin-right: auto !important;
        background-color: whitesmoke !important;
    }
}