
<ion-content class="ion-align-items-center">


    <ion-grid fixed class="centrado">
      <ion-row >
        <ion-col size="6" size-md="4" size-sm="3" size-lg="6" *ngFor="let numero of numeros; let i=index ">
  
            <img *ngIf="opcion.idioma == 'es'" [src]="numero.img" class="slide-image" 
                (click)="play(numero.nombre + '-es')" alt="numero.nombre">

            <img *ngIf="opcion.idioma == 'en'" [src]="numero.img" class="slide-image" 
               (click)="play(numero.nombre + '-en')" alt="numero.nombre">

            <img *ngIf="opcion.idioma == 'pt'" [src]="numero.img" class="slide-image" 
                (click)="play(numero.nombre + '-pt')" alt="numero.nombre">
  
        </ion-col>
      </ion-row>
    </ion-grid>

    <!-- <ion-slides pager="true" class="slide-full" >

        <ion-slide *ngFor="let numero of numeros; let i=index " class="ion-padding-top">

            <div class="ion-activatable">
                <ion-card color="warning">

                    <ion-card-content translucent *ngIf="opcion">

                        <img *ngIf="opcion.idioma == 'es'" [src]="numero.img" class="slide-image" 
                        (click)="play(numero.nombre + '-es')" alt="numero.nombre">

                        <img *ngIf="opcion.idioma == 'en'" [src]="numero.img" class="slide-image" 
                        (click)="play(numero.nombre + '-en')" alt="numero.nombre">

                        <img *ngIf="opcion.idioma == 'pt'" [src]="numero.img" class="slide-image" 
                        (click)="play(numero.nombre + '-pt')" alt="numero.nombre">
                        
                    </ion-card-content>
                    
                </ion-card>

                <ion-ripple-effect type="bounded"></ion-ripple-effect>
            </div>

        </ion-slide>

    </ion-slides> -->

    <ion-fab vertical="bottom" horizontal="end" slot="fixed" color="danger">
        <ion-fab-button color="danger">
            <img [src]="opcion.img" alt="opcion.idioma">
        </ion-fab-button>
        <ion-fab-list side="top">
            <ion-fab-button *ngFor="let bandera of banderas" (click)="seleccionar(bandera)">
                <img [src]="bandera.img" alt="bandera.idioma">
            </ion-fab-button>
        </ion-fab-list>
    </ion-fab>

    <ion-fab vertical="bottom" horizontal="start" slot="fixed">
        <ion-fab-button [routerLink]="['/menu']" color="success">
            <ion-icon name="play-back"></ion-icon>
        </ion-fab-button>
    </ion-fab>

</ion-content>