.icon
{
    font-size: 100px !important;
    display: flex !important;
    flex-direction: row !important;
    
    justify-content: space-around !important;
}

.boton-grande{
    height: 200px !important;
}
