<ion-header  translucent >
  <ion-toolbar color="tertiary">

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/inicio"></ion-back-button>
    </ion-buttons>

    <ion-title color="light" text-capitalize>Menú principal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="fondo">
  <div id="container" class="contenido">

    <ion-button   [routerLink]="['/resultados']" size="large" expand="full" fill="solid">
      <ion-label mode="ios">Ver resultados</ion-label>
      <ion-icon slot="start" name="football-outline"></ion-icon>
      <ion-icon slot="end" name="football-outline"></ion-icon>
    </ion-button>

    <ion-button   [routerLink]="['/ranking']" size="large" expand="full" fill="solid">
      <ion-label mode="ios">Ranking</ion-label>
      <ion-icon slot="start" name="football-outline"></ion-icon>
      <ion-icon slot="end" name="football-outline"></ion-icon>
    </ion-button>

    <ion-button *ngIf="usuario.rol == 'admin'" size="large" [routerLink]="['/alta-partido']"
               expand="full" fill="solid">
      <ion-label mode="ios">Armar partido</ion-label>
      <ion-icon slot="start" name="football-outline"></ion-icon>
      <ion-icon slot="end" name="football-outline"></ion-icon>
    </ion-button>

    <ion-button *ngIf="usuario.rol == 'admin'" size="large" [routerLink]="['/carga-resultados']"
                 expand="full" fill="solid">
      <ion-label mode="ios">Cargar resultados</ion-label>
      <ion-icon slot="start" name="football-outline"></ion-icon>
      <ion-icon slot="end" name="football-outline"></ion-icon>
    </ion-button>

  </div>
</ion-content>