<ion-header class="ion-no-border fondo" translucent mode="android" >

  <ion-toolbar color="dark">

      <ion-buttons slot="start">
        <ion-back-button text="Atrás" defaultHref="/home"></ion-back-button>
      </ion-buttons>
  
      <ion-title class="text-big" text-capitalize>Menú</ion-title>
    </ion-toolbar>


</ion-header>

<ion-content class="fondo">

  <ion-grid fixed >
    <ion-row class="contenido">
      <ion-col size="6"  *ngFor="let ruta of rutas" >
        <h2><ion-label strong="true"> {{ruta.nombre}}</ion-label></h2>
        <ion-img id="img-boton" [src]="ruta.src" (click)="navegar(ruta.ruta)"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>

