<app-header titulo="Inicio"></app-header>

<ion-content class="fondo">

  <ion-card class="contenido">

    <ion-card-header >
      <ion-card-title color="light" mode="ios">App Relevamiento visual</ion-card-title>
      <ion-card-subtitle color="light">Inicie sesión con su correo electrónico y<br>
                          contraseña para ingresar.

      </ion-card-subtitle>
      <ion-card-subtitle color="light" class="icon">
        <ion-icon name="people-circle-outline"></ion-icon>

      </ion-card-subtitle>
  
    </ion-card-header>

    <ion-card-content mode="ios">

      <ion-button class="ion-activatable ripple-parent text-big" 
                  expand="block" size="large" 
                  (click)="presentAlertPrompt()">
        <ion-icon slot="start" name="person"></ion-icon>
        Login
      </ion-button>

      <ion-button color="light" slot="end" class="text-small" routerLink="/registro" 
      size="small"  shape="round">
        Registrarse
      </ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>