<app-header titulo="Nuevo usuario"></app-header>

<ion-content color="dark">

  <form #formulario="ngForm" (ngSubmit)="onSubmitTemplate()" color="dark">

    <ion-list>

      <ion-list-header color="dark">
        <ion-label>Datos válidos : {{ formulario.valid }}</ion-label>
      </ion-list-header>

      <ion-item color="dark">
        <ion-label position="floating">Nombre</ion-label>
        <ion-input type="text" name="nombre" [(ngModel)]="usuario.nombre"
                   required>
        </ion-input>
      </ion-item>

      <ion-item color="dark">
        <ion-label position="floating">D.N.I. (sólo números)</ion-label>
        <ion-input type="number" name="dni" [(ngModel)]="usuario.dni"
                  [pattern]="dniPattern" required>
        </ion-input>
      </ion-item>

      <ion-item color="dark">
        <ion-label position="floating">Domicilio</ion-label>
        <ion-input type="text" name="nombre" [(ngModel)]="usuario.domicilio"
           required>
        </ion-input>
      </ion-item>

      <ion-item color="dark">
        <ion-label position="floating">Teléfono</ion-label>
        <ion-input type="number" name="nombre" [(ngModel)]="usuario.telefono"
                  [pattern]="phonePattern" required>
        </ion-input>
      </ion-item>

      <ion-item color="dark">
        <ion-label position="floating">Correo electrónico</ion-label>
        <ion-input type="email"  name="email" [(ngModel)]="usuario.email"
                  [pattern]="emailPattern" required>
        </ion-input>
      </ion-item>

      <ion-item color="dark">
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password"  name="password" [(ngModel)]="usuario.pass"
          required>
        </ion-input>
      </ion-item>

      <ion-item color="dark" class="contenido">
        <ion-label position="floating">Confirme su contraseña</ion-label>
        <ion-input type="password" minlength="6"  name="password" [(ngModel)]="confirmacionPass"
          required>
        </ion-input>
      </ion-item>

    </ion-list>

    <ion-button color="tertiary" fill="solid" expand="full" type="submit" [disabled]="formulario.invalid">
      Enviar
    </ion-button>

  </form>

</ion-content>
