<app-header titulo="Menú"></app-header>


<ion-content color="dark">
    <ion-title class="ion-padding" strong="true">Elegí la sala para charlar</ion-title>
    
    <ion-button class="boton-grande" [routerLink]="['/sala4a']" color="secondary"
                 expand="block" fill="solid" shape="round">
        <h1><b><ion-label strong="true">Sala 4A</ion-label> </b></h1>
    </ion-button>
    <ion-button class="boton-grande" [routerLink]="['/sala4b']" color="primary"
                expand="block" fill="solid" shape="round">
        <h1><b><ion-label strong="true">Sala 4B</ion-label> </b></h1>
    </ion-button>

</ion-content>
